
footer
	.footer_logo
		h1
			img(src='css/logo_loop_02.png')
                   
			p Copyright 2015. ROOP all right reserved.
           
	nav
		ul.footer_nav
			li
				a(href='#') Contant us
                       
			li
				a(href='#') About us
                       
			li
				a(href='#') Privacy
                       
			li
				a(href='#') Language
           
	nav
		ul.sns_nav
			li
				a(href='#')
					img(src='css/icon_sns_01.png')
                       
			li
				a(href='#')
					img(src='css/icon_sns_02.png')
                       
			li
				a(href='#')
					img(src='css/icon_sns_03.png')
                       
			li
				a(href='#')
					img(src='css/icon_sns_04.png')
