extends layout

block content
	link(rel='stylesheet', href='css/style_askUploaded.css')
		
	include navbar

	.uploaded
		img(src='css/icon_ok.png')
			h1 Your question was uploaded!
		.button_wrapper
			a.button_01(href='#')
				span Back to Ask page
			a.button_02(href='#')
				span Confirm at my page

	include footer


